html,
body {
  padding: 0;
  margin: 0;
  font-family: Cereal;
  font-size: 24px;
  color: #565a5c;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.rad-wrap {
  border: 2px solid transparent;
  border-bottom: 2px solid rgba(238, 238, 238, 0.4);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rad-wrap:first-child {
  border-top: 2px solid rgba(238, 238, 238, 0.4);
}

.rad-wrap:hover {
  border: 2px solid #ff717b;
}

.active-rad-wrap {
  border: 2px solid rgba(255, 90, 95, 0.8);
  background-color: rgba(255, 90, 95, 0.8);
}

.active-rad-wrap label {
  color: #fff;
}

.section-wrapper::before {
  content: " ";
  display: table;
}

* {
  box-sizing: border-box;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  /* left: 30px; */
}

.rad-wrap::before {
  content: " ";
  margin-left: 40px;
}

.active-rad-wrap::before {
  content: " ";
  margin-left: 40px;
}

.checkmark {
  position: absolute;
  left: 30px;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: solid 2px #2b2b2b;
}

input[type="radio"]:checked ~ .checkmark {
  background: #ff717b;
  border: solid 2px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="radio"]:checked ~ .checkmark::after {
  content: url("../assets/check.svg");
}

.res-image {
  max-width: 63.4px !important;
}

.no-desktop-but-mobile-flex {
  display: none;
}

.menu-icon {
  font-size: 1.5em;
  position: fixed;
  top: 0px;
  right: 0px;
  cursor: pointer;
  margin: 51px 34px 0 0;
}

.small-logo {
  position: fixed;
  bottom: 43.2px;
  left: 60.1px;
  height: 30px;
  width: 30px;
  z-index: 999;
}

.icon-facebook::before {
  content: "\f16c";
}

.icon-twitter::before {
  content: "\f1ee";
}

.link-icons {
  right: 51.2px;
  bottom: 52px;
  z-index: 10000;
}

@media (max-width: 800px) {
  html,
  body {
    overflow: auto;
  }

  .no-mobile {
    display: none !important;
  }
  .no-desktop-but-mobile-flex {
    display: flex !important;
  }

  .section-wrapper {
    height: auto !important;
    padding-top: 82px;
  }

  .res-image {
    width: 44.1px !important;
    max-width: 63.4px;
  }
  .intro-H1 {
    font-size: 24px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .intro-p {
    max-width: 260px;
    margin-bottom: 40px !important;
  }

  .left-floated {
    float: unset;
    padding-left: 14.5px !important;
    padding-right: 14.5px !important;
    width: 100% !important;
  }

  .right-floated {
    float: unset !important;
    padding: 0px !important;
    width: 100% !important;
  }

  .sec-content {
    display: flex;
    flex-direction: column;
  }

  .section-wrapper {
    padding-left: 14.5px !important;
    padding-right: 14.5px !important;
  }
  .rtq {
    padding-top: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .q-h1 {
    font-size: 22px !important;
  }

  .ans-wrap {
    width: 100%;
  }
}
